.container{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    gap: 20px;
  }
  .avatar{
    object-fit: cover;
    border-radius: 50%;
}
  .Title{
    color: gray;
    font-weight: bold;
  }
  
  .username{
    font-weight: 500;
  }
  .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }